.footer {
  background-color: $bckg-color-roze;
  padding-top: 55px;
}
.footer__main {
  @media screen and(min-width: 768px) {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}
.footer__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @media screen and (max-width: 767px) {
    margin-left: 20px;
  }
}
.footer__first-text {
  @include secondary-text($fw: 400, $fs: 18px, $lx: 1.16, $color: $bckg-color-accent, $ls: 0.04);
  @media screen and (min-width: 768px) {
    @include secondary-text(
      $fw: 400,
      $fs: 26pxpx,
      $lx: 1.14,
      $color: $bckg-color-accent,
      $ls: 0.04
    );
  }
  @media screen and (min-width: 1080px) {
    @include secondary-text($fw: 400, $fs: 30px, $lx: 1.16, $color: $bckg-color-accent, $ls: 0.04);
  }
}
.footer__second-text {
  @include secondary-text($fw: 400, $fs: 34px, $lx: 1.14, $color: $accent-color, $ls: 0.04);
  @media screen and (max-width: 767px) {
    margin-top: 17px;
  }
  @media screen and (min-width: 768px) {
    @include secondary-text($fw: 400, $fs: 48px, $lx: 1.14, $color: $accent-color, $ls: 0.04);
  }
  @media screen and (min-width: 1080px) {
    @include secondary-text($fw: 400, $fs: 58px, $lx: 1.14, $color: $accent-color, $ls: 0.04);
  }
}
.media-footer__icon {
  width: 20px;
  height: 20px;
  fill: white;
}
.media-footer__zone {
  width: 33px;
  height: 33px;
}
.media-footer__social-link {
  display: flex;
  justify-content: flex-end;
  padding-top: 43px;
  padding-right: 20.53px;
  .media-footer__zone:not(:last-child) {
    margin-right: 28.34px;
  }
}
.media-footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $bckg-color-accent;
  border-radius: 50%;
  background-color: white;
  &:hover,
  &:focus {
    background-color: white;
    color: $accent-color;
    fill: $accent-color;
  }
}
.footer__contact {
  display: flex;
  justify-content: flex-end;
  padding-top: 46px;
  padding-right: 20px;
}
.footer__contact-text {
  @include main-text($fw: 700, $fs: 12px, $lx: 1.86, $color: $text-color-black, $ls: 0.04);
  @media screen and (min-width: 768px) {
    @include main-text($fw: 700, $fs: 14px, $lx: 1.86, $color: $text-color-black, $ls: 0.04);
  }
  @media screen and (min-width: 1080px) {
    @include main-text($fw: 700, $fs: 16px, $lx: 1.86, $color: $text-color-black, $ls: 0.04);
  }
}
.footer__contact-text__tel {
  @include main-text($fw: 700, $fs: 12px, $lx: 1.86, $color: $accent-color, $ls: 0.04);
  @media screen and (min-width: 768px) {
    @include main-text($fw: 700, $fs: 14px, $lx: 1.86, $color: $accent-color, $ls: 0.04);
  }
  @media screen and (min-width: 1080px) {
    @include main-text($fw: 700, $fs: 16px, $lx: 1.86, $color: $accent-color, $ls: 0.04);
    margin-bottom: 50px;
  }
}
.footer__text-rights {
  @include main-text($fw: 700, $fs: 14px, $lx: 1.52, $color: #907e82, $ls: 0.04);
  padding-top: 22px;
  padding-bottom: 25px;
  text-align: center;
}
.footer__line {
  width: 100%;
  border: 1px solid #e1e1e1;
  margin-top: 43px;
}
