.footer {
  background-color: $bckg-color-roze;
}
.footer__first-text {
  @include secondary-text($fw: 400, $fs: 18px, $lx: 1.16, $color: $bckg-color-accent, $ls: 0.04);
  padding-left: 22px;
  padding-right: 66px;
  padding-top: 113px;
  padding-bottom: 17px;
}
.footer__second-text {
  @include secondary-text($fw: 400, $fs: 34px, $lx: 1.14, $color: $accent-color, $ls: 0.04);
  padding-left: 20px;
}
.media-footer__icon {
  width: 20px;
  height: 20px;
  fill: white;
}
.media-footer__zone {
  width: 32px;
  height: 33px;
}
.media-footer__social-link {
  display: flex;
  justify-content: flex-end;
  padding-top: 43px;
  padding-right: 20.53px;
  .media-footer__zone:not(:last-child) {
    margin-right: 28.34px;
  }
}
.media-footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $bckg-color-accent;
  border-radius: 50%;
  background-color: white;
  &:hover,
  &:focus {
    background-color: white;
    color: $accent-color;
    fill: $accent-color;
  }
}
.footer__contact {
  display: flex;
  justify-content: flex-end;
  padding-top: 46px;
  padding-right: 20px;
}
.footer__contact-text {
  @include main-text($fw: 700, $fs: 12px, $lx: 1.86, $color: $text-color-black, $ls: 0.04);
}
.footer__contact-text__tel {
  @include main-text($fw: 700, $fs: 12px, $lx: 1.86, $color: $accent-color, $ls: 0.04);
}
.footer__text-rights {
  @include main-text($fw: 700, $fs: 14px, $lx: 1.52, $color: #907e82, $ls: 0.04);
  padding-top: 22px;
  padding-bottom: 25px;
  text-align: center;
}
.footer__line {
  width: 100%;
  border: 1px solid #e1e1e1;
  margin-top: 43px;
}
