.gallery {
  padding-top: 50px;
  padding-bottom: 40px;
  background-size: cover;
  background-image: linear-gradient($bckg-color-roze 50%, $white-text-color 50%);
  @media screen and (min-width: $tablet) {
    padding-top: 70px;
    padding-bottom: 60px;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -3px;
    @media screen and (min-width: $tablet) {
      margin: -3px;
    }
  }
  &__grid-a,
  &__grid-b,
  &__grid-c,
  &__grid-d,
  &__grid-e,
  &__grid-f {
    width: 100%;
    margin: 3px;
    @media screen and (min-width: $tablet) {
      margin: 3px;
    }
  }
  &__grid-a,
  &__grid-b,
  &__grid-c,
  &__grid-d,
  &__grid-e,
  &__grid-f:not(:last-child) {
    margin: 3px;
  }

  &__photo {
    cursor: pointer;
    display: inline-block;
    max-width: 100%;
    border-radius: 5px;
    transition: 600ms linear;
    @media screen and (min-width: $tablet) {
      border-radius: 10px;
    }
    @media screen and (min-width: $desktop) {
      border-radius: 15px;
    }
    &:hover,
    &:focus {
      z-index: 9;
      transform: scale(2) rotateY(180deg);
      // cursor: pointer;
    }

    &:not(:last-child) {
      margin-bottom: 3px;
    }

    &--big {
      max-width: 100px;
      max-height: 100px;
      @media screen and (min-width: $tablet) {
        max-width: 155px;
        max-height: 155px;
      }
      @media screen and (min-width: $desktop) {
        max-width: 350px;
        max-height: 250px;
      }
    }

    &--small {
      max-width: 60px;
      max-height: 75px;
      @media screen and (min-width: $tablet) {
        max-width: 115px;
        max-height: 155px;
      }
      @media screen and (min-width: $desktop) {
        max-width: 165px;
        max-height: 220px;
      }
    }
  }
}
