.header-hero {
  background-color: $bckg-color-accent;
  padding-top: 6px;
  padding-bottom: 446px;
  @media screen and (min-width: 768px) {
    padding-top: 37px;
    padding-bottom: 34px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 56px;
  }
}
.page-header {
  display: flex;
  align-items: center;
    @media screen and (max-width: 480px) {
 max-width: 100vw;
  }
}
.header-hero .container {
  max-width: 100%;
  position: relative;
}
.page-header__nav {
  z-index: 10;
  display: none;
  @media screen and (min-width: 1280px) {
    margin-left: 110px;
    display: block;
  }
}
.page-header__list {
  display: flex;
  align-items: center;
  @media screen and (max-width: 1279px) {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
}
.page-header__item {
  @media screen and (max-width: 1279px) {
    padding: 11px 0;
    border-bottom: 1px solid rgb(163, 158, 158);
    width: 100%;
  }
 
}
.page-header__item:not(:last-child) {
  @media screen and (min-width: 1280px) {
    margin-right: 35px;
  }
}
.page-header__button {
z-index: 5;
  @include button();
    &-icon {
      margin-left: 12px;
    }
    &:hover,
    &:focus {
      background: #ecebeb;
    }
  @media screen and (max-width: 767px) {
display: none;
 }
  @media screen and (min-width: 768px) {
    margin-left: auto;
   
  }
}
.page-header__link {
  @media screen and (max-width: 1279px) {
    @include text-link($fw: bold, $fs: 14px, $lx: 1.31, $color: $text-color-white);
    padding: 11px 100px 10px 0;
  }
  @include text-link($fw: bold, $fs: 16px, $lx: 1.31, $color: $text-color-white);
  transition: color 300ms linear;
  &:hover,
  &:focus {
    color: $accent-color;
  }

}

// ГЕРОЙ
.hero {
  @media screen and (min-width: 768px) {
    margin-top: 15px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 84px;
  }
}
.hero__sektion {
  position: relative;
}
.hero__content {
  @media screen and (max-width: 767px) {
    position: absolute;
    z-index: 5;
    left: 10px;
    top: 140px;
  }
  width: 162px;
  position: relative;
  @media screen and (min-width: 1280px) {
    margin-left: 60px;
    width: 277px;
  }
}
.hero__name {
  text-transform: uppercase;
  @include secondary-text($fw: 400, $fs: 26px, $lx: 1.15, $color: $text-color-white, $ls: 0.04);
  @media screen and (min-width: 768px) {
    @include secondary-text($fw: 400, $fs: 22px, $lx: 1.15, $color: $text-color-white, $ls: 0.04);
  }

  @media screen and (min-width: 1280px) {
    @include secondary-text($fw: 400, $fs: 38px, $lx: 1.15, $color: $text-color-white, $ls: 0.04);
  }
}
.hero__name-accent {
  @include secondary-text($fs: 42px, $color: $accent-color);
  @media screen and (min-width: 768px) {
    @include secondary-text($fs: 34px, $color: $accent-color);
  }
  @media screen and (min-width: 1280px) {
    @include secondary-text($fs: 58px, $color: $accent-color);
  }
}

.hero__list {
  margin-top: 20px;
  display: flex;
  align-items: center;
  @media screen and (min-width: 1280px) {
    margin-top: 25px;
  }
}
.hero__item:not(:last-child) {
  margin-right: 8px;
  @media screen and (min-width: 1280px) {
    margin-right: 17px;
  }
}
.hero__link-products {
  @include text-link($fs: 8px, $lx: 1.25);
  display: block;
  padding: 7px 12px;
  background-color: $accent-color;
  border-radius: 20px;
  @media screen and (min-width: 1280px) {
    @include text-link();
    padding: 9px 18px;
  }

  &:hover,
  &:focus {
    background-color: #c7133e;
  }
}
.hero__link-how {
  @include text-link($fs: 8px, $lx: 1.25, $color: $accent-color);
  display: block;
  padding: 7px 12px;
  background-color: $text-color-white;
  border-radius: 20px;
  @media screen and (min-width: 1280px) {
    @include text-link($color: $accent-color);
    padding: 9px 18px;
  }

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
.hero__text-box {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    width: 114px;
    margin-top: 66px;
    margin-left: 140px;
  }
  @media screen and (min-width: 1280px) {
    width: 200px;
    margin-top: 112px;
    margin-left: 240px;
  }
}
.hero__text {
  @include main-text($fw: 400, $fs: 8px, $lx: 1.5, $color: $text-color-white, $ls: 0.04);
  @media screen and (min-width: 1280px) {
    @include main-text($lx: 1.43);
  }
}
.hero__button {
  width: 26px;
  height: 26px;
  background-color: $text-color-white;
  fill: $accent-color;
  border: none;
  border-radius: 50%;
  margin-top: 7px;
  cursor: pointer;
  @media screen and (min-width: 1280px) {
    margin-top: 20px;
  }
  &:hover,
  &:focus {
    background-color: #ecebeb;
    fill: #c7133e;
  }
}

// Квадратики с цифрами справа
.hero__sektion {
  display: flex;
}
.hero__card-box {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }

  margin-left: auto;
}
.hero__card-first {
  margin-left: auto;
  display: flex;
  position: relative;
  justify-content: flex-end;
  width: 43px;
  height: 44px;
  margin-bottom: 14px;
  @media screen and (min-width: 1280px) {
    width: 72px;
    height: 77px;
    margin-bottom: 18px;
  }
}
.hero__card-second {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 51px;
  height: 43px;
  @media screen and (min-width: 1280px) {
    width: 92px;
    height: 76px;
  }
}

.hero__card-text {
  @include main-text($fs: 8px, $lx: 1.25);
  position: absolute;
  right: 0;
  bottom: 0;
  &::before {
    @include secondary-text($fw: 400, $fs: 28px, $lx: 1.14, $color: $accent-color, $ls: 0.04);
    content: '16';
    position: absolute;
    top: -32px;
    right: 0;
    z-index: 5;
  }
  &::after {
    content: '';
    position: absolute;
    top: -35px;
    right: -10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $text-color-white;
  }
  @media screen and (min-width: 1280px) {
    @include main-text($lx: 1.28);
    &::before {
      @include secondary-text($fs: 46px, $lx: 1.15, $color: $accent-color);
      top: -52px;
    }
    &::after {
      width: 30px;
      height: 30px;
      top: -60px;
    }
  }
}
.hero__card-text1 {
  @include main-text($fs: 8px, $lx: 1.25);
  position: absolute;
  right: 0;
  bottom: 0;
  &::before {
    @include secondary-text($fs: 28px, $lx: 1.14, $color: $accent-color);
    content: '23';
    position: absolute;
    top: -32px;
    right: 0;
    z-index: 5;
  }
  &::after {
    content: '';
    position: absolute;
    top: -35px;
    right: -10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $text-color-white;
  }
  @media screen and (min-width: 1280px) {
    @include main-text($lx: 1.28);
    &::before {
      @include secondary-text($fs: 46px, $lx: 1.15, $color: $accent-color);
      top: -52px;
    }
    &::after {
      width: 30px;
      height: 30px;
      top: -60px;
    }
  }
}
// Фотографии


.hero__kolo-mob {
   width: 73%;
       top  : 150%;
       right: 0;
       position                 : absolute;
     animation-name           : kolo;
     animation-duration       : 2s;
     animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
     @keyframes kolo {
       0% {
         opacity: 0;
       }

       100% {
         opacity: 1;
       }
     }
     @media screen and (min-width: 480px) {
  width: 270px;
}
     @media screen and (min-width: 768px) {
      display: none;
     }  
}
.hero__kolo {
     display: none;
 @media screen and (min-width: 768px) {
   display: block;
   position: absolute;
  width: 324px;
   top     : 3%;
   left    : 30%;
 }
  animation-name: kolo;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  @keyframes kolo {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @media screen and (min-width: 1280px) {
    left: 26%;
    width: 538px;
    top: 2%;
  }
}


.hero__milk {
    display: none;
    position: absolute;
    top: 68%;
    left: 0;
    width: 124px;
    animation-name: milk;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
    @keyframes milk {
      0% {
        transform: translateX(-50%);
        opacity: 0;
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  @media screen and (min-width: 768px) {
    display: block;
    top: 66%;
}
@media screen and (min-width: 1280px) {
  left: 8%;
  top: 80%;
}
}
.hero__girl {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 70%;
    right: 0;
    width: 168px;
    animation-name: girl;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
    @keyframes girl {
      0% {
        transform: translateX(50%);
        opacity: 0;
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
  @media screen and (min-width: 1280px) {
    width: 293px;
    top: 70%;
    right: 0;
  }
}
.hero__ice {
  
   @media screen and (max-width: 480px) {
   width: 143px;
 }
  @media screen and (max-width: 767px) {
    width: 171px;
    top: 180%;
    left: 30%;
    
  }
  position: absolute;
  top: 12%;
  right: 28%;
  width: 143px;
  animation-name: ice;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  @keyframes ice {
    0% {
      transform: translateY(50%);
      opacity: 0;
    }
 
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @media screen and (min-width: 1280px) {
    width: 236px;
    top: 14%;
    right: 28%;
  }
}
