/* Стили для подложки */

.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 184, 202, 0.9);
  z-index: 20;
  transition: all 0.8s ease 0s;
}

/* Стили для модальных окон */

.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
@media screen and (max-width:767px) {
  top: 58%;
}
  /*  Установаем ширину окна  */
  width: 100%;
  // max-width: 500px;
  height: 80vh;
  position: relative;
  border-radius: 20px;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  // overflow: hidden;
  // overflow-y: auto;
  &--buy {
    border-radius: 20px;
    .buy__form {
      width: 100%;
      height: 100%;
      /* outline: 1px solid gold; */
      padding: 40px;
      // overflow-y: scroll;

      .buy__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #d41342;
        border-radius: 22px;
        padding-left: 17px;
        height: 44px;
        color: #ffffff;
        border: none;
        // outline: none;
        font-family: DM Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        margin-left: 10px;
        width: 183px;
        margin: 25px auto 0 auto;
        &:hover,
        &:focus {
          cursor: pointer;
          background: #c7133e;
          transform: scale(1.2);
        }
      }
    }
    .buy__title {
      font-weight: bold;
      font-size: 20px;
      line-height: calc(23 / 20);
      text-align: center;
      letter-spacing: 0.03em;
      margin-bottom: 12px;
    }
    .buy__field {
      display: flex;
      flex-direction: column;
    }
    .buy__label {
      font-size: 18px;
      line-height: calc(14 / 12);
      letter-spacing: 0.01em;
      color: #e18298;
      margin-bottom: 4px;
      margin-right: auto;
    }

    .buy__input {
      border-color: 1px solid #e18298;
      outline: 1px solid #e18298;
      border: 1px solid #e18298;
      box-sizing: border-box;
      border-radius: 4px;
      font-size: 14px;
      line-height: calc(16 / 14);
      letter-spacing: 0.01em;
      color: #e18298;
      padding-left: 42px;
      padding-top: 11px;
      padding-bottom: 11px;
      padding-right: 11px;
      margin-bottom: 10px;
      cursor: pointer;
    }
    .buy__input:hover,
    .buy__input:focus {
      border-color: #d41443;
      outline: 1px solid #d41443;
      fill: #d41443;
      transition-property: border-color, fill;
      transition-duration: 300ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    width: 290px;
    height: auto;
    padding: 5px;
    .modal-buy {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: -3px;
    }
    .modal-buy__item {
      flex-basis: calc(100% -2 * 6px) / 2;
      margin: 3px;
    }
    .modal-buy__thumb {
      width: 130px;
      height: 80px;
    }
    .modal-buy__thumb > .modal-buy__img {
      display: block;
      height: 100%;
      width: 100%;
      transition: transform 550ms linear;
    }
    .modal-buy__img:focus,
    .modal-buy__img:hover {
      cursor: pointer;
      transition: transform 550ms linear;
      transform: scale(1.3);
    }
  }
  &--eco {
    /* Scene styles here */
    .modal__scene {
      width: 100%;
      height: 95%;
      overflow: hidden;
      position: relative;
      background-image: linear-gradient(rgb(28, 116, 175), skyblue);
    }

    .modal__sun {
      width: 22%;
      height: 27%;
      background-image: url(../images/sun.png);
      background-repeat: no-repeat;
      background-size: cover;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
      animation-name: bounce;
    }

    @keyframes bounce {
      from {
        transform: scale(1.1);
      }
      to {
        transform: scale(1);
      }
    }

    .modal__clouds {
      height: 30%;
      width: 100%;
      position: absolute;
      top: 0px;
      background-image: url(../images/cloud.png), url(../images/cloud-1.png),
        url(../images/cloud-2.png);
      background-repeat: no-repeat;
      background-position: top 50px right, top 100px center, top 30px left 200px;

      animation-name: sky-motion;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-direction: alternate;
      animation-duration: 40s;
    }

    @keyframes sky-motion {
      from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(-100%);
      }
    }

    .modal__plane {
      height: 20%;
      width: 85%;
      position: absolute;
      overflow: hidden;
      bottom: 40%;
      background-image: url(../images/plane-4.png);
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: contain;

      animation-name: motion;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-duration: 10s;
      transform: rotateY(180deg);
    }

    @keyframes motion {
      0% {
        transform: translateX(100%);
      }
      25% {
        transform: translateX(-100%);
      }
      50% {
        transform: translateX(-100%) rotateY(180deg);
      }
      100% {
        transform: rotateY(180deg) translateX(-100%);
      }
    }
    .modal__hills {
      height: 80%;
      width: 110%;
      position: absolute;
      bottom: 0;
      left: -5%;
      /* z-index: 1; */
      background-image: url(../images/pngegg.png);
      background-position: center bottom -50px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &--franchise {
    border-radius: 20px;
    width: 290px;
    height: auto;
    padding: 5px;
    .franchise__form {
      width: 100%;
      height: 100%;
      /* outline: 1px solid gold; */
      padding: 10px;
      // overflow-y: scroll;
      .franchise__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #d41342;
        border-radius: 22px;
        padding-left: 17px;
        height: 44px;
        color: #ffffff;
        border: none;
        // outline: none;
        font-family: DM Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        margin-left: 10px;
        width: 183px;
        margin: 10px auto 0 auto;
        transition: all 250ms linear;
        &:hover,
        &:focus {
          cursor: pointer;
          background: #c7133e;
          transform: scale(1.2);
          transition: all 250ms linear;
        }
      }
    }
    .franchise__title {
      font-weight: bold;
      font-size: 20px;
      line-height: calc(23 / 20);
      text-align: center;
      letter-spacing: 0.03em;
      margin-bottom: 12px;
    }
    .franchise__field {
      display: flex;
      flex-direction: column;
    }
    .franchise__label {
      font-size: 18px;
      line-height: calc(14 / 12);
      letter-spacing: 0.01em;
      color: #e18298;
      margin-bottom: 4px;
      margin-right: auto;
    }

    .franchise__input {
      border-color: 1px solid #e18298;
      outline: 1px solid #e18298;
      border: 1px solid #e18298;
      box-sizing: border-box;
      border-radius: 4px;
      font-size: 14px;
      line-height: calc(16 / 14);
      letter-spacing: 0.01em;
      color: #e18298;
      padding-left: 42px;
      padding-top: 11px;
      padding-bottom: 11px;
      padding-right: 11px;
      margin-bottom: 10px;
      cursor: pointer;
    }
    .franchise__input:hover,
    .franchise__input:focus {
      border-color: #d41443;
      outline: 1px solid #d41443;
      fill: #d41443;
      transition-property: border-color, fill;
      transition-duration: 300ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    // .franchise__input:focus,
    // .franchise__input:hover {
    //   fill: #d41443;

    //   -webkit-appearance: none;
    //   -moz-appearance: none;
    //   appearance: none;
    // }
    .modal-franchise {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: -3px;
    }
    .modal-franchise__item {
      flex-basis: calc(100% -2 * 6px) / 2;
      margin: 3px;
    }
    .modal-franchise__thumb {
      width: 130px;
      height: 80px;
    }
    .modal-franchise__thumb > .modal-franchise__img {
      display: block;
      height: 100%;
      width: 100%;
      border-radius: 15px;
      scale: 1;
      transition: all 300ms linear;
    }
    .modal-franchise__img:focus,
    .modal-franchise__img:hover {
      cursor: pointer;
      transition: all 300ms linear;
      transform: scale(1.05);
    }
  }
  &--watch {
    width: 290px;
    height: auto;
    padding: 5px;
    .modal-watch {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: -3px;
      position: relative;
    }
    .modal-watch__item {
      flex-basis: calc(100% -2 * 6px) / 2;
      margin: 3px;
    }
    .modal-watch__thumb {
      width: 130px;
      height: 80px;
    }
    .modal-watch__thumb > .modal-watch__img {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  &--cream {
    width: 250px;
    height: auto;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
  }
  &--coffee {
    width: 250px;
    height: auto;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
  }
  &--milk {
    width: 250px;
    height: auto;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
  }

  // @media screen and (min-width: 480px) {
  //   width: 280px;
  //   &--locations {
  //     font-size: 18px;
  //     line-height: 1.13;
  //     padding: 5px 8px;
  //   }
  // }
  @media screen and (min-width: 768px) {
    width: 720px;
    font-size: 22px;
    line-height: 1.13;
    &--buy {
      .modal-buy__thumb {
        width: 230px;
        height: auto;
      }
    }
    &--locations {
      height: 540px;
      padding: 10px 15px;
    }
    &--eco {
      font-size: 22px;
      line-height: 1.13;
    }
    &--franchise {
      width: 700px;
      padding: 20px;
      // .modal-franchise {
      //   margin: -10px;
      // }
      .franchise__form {
        padding: 10px 40px;
      }
      .modal-franchise__item {
        flex-basis: calc(100% -2 * 20px) / 2;
        margin: 10px;
      }
      .modal-franchise__thumb {
        width: 280px;
        height: 173px;
      }
    }
    &--watch {
      width: 700px;
      padding: 20px;
      .modal-watch {
        margin: -10px;
      }
      .modal-watch__item {
        flex-basis: calc(100% -2 * 20px) / 2;
        margin: 10px;
      }
      .modal-watch__thumb {
        width: 285px;
        height: 176px;
      }
    }
    &--cream {
      width: 340px;
      font-size: 20px;
    }
    &--coffee {
      width: 340px;
      font-size: 20px;
    }
    &--milk {
      width: 340px;
      font-size: 20px;
    }
  }
  @media screen and (min-width: 1280px) {
    width: 1080px;
    font-size: 24px;
    line-height: 1.13;
    &--buy {
      .modal-buy__thumb {
        width: 350px;
        height: auto;
      }
    }
    &--locations {
      height: 810px;
      padding: 15px 30px;
    }
    &--eco {
      font-size: 24px;
      line-height: 1.13;
      .modal__sun {
        width: 15%;
        height: 22%;
      }
    }
    &--franchise {
      width: 1000px;
      padding: 10px;
      // .modal-franchise {
      //   margin: -15px;
      // }
      .franchise__form {
        padding: 10px 40px;
      }
      .modal-franchise__item {
        flex-basis: calc(100% -2 * 30px) / 2;
        margin: 15px;
      }
      .modal-franchise__thumb {
        width: 427px;
        height: 265px;
      }
    }
    &--watch {
      width: 1000px;
      padding: 30px;
      .modal-watch {
        margin: -15px;
      }
      .modal-watch__item {
        flex-basis: calc(100% -2 * 30px) / 2;
        margin: 15px;
      }
      .modal-watch__thumb {
        width: 437px;
        height: 270px;
      }
    }
    &--cream {
      width: 460px;
      border-radius: 10px;
      padding: 10px;
    }
    &--coffee {
      width: 460px;
      border-radius: 10px;
      padding: 10px;
    }
    &--milk {
      width: 460px;
      border-radius: 10px;
      padding: 10px;
    }
  }

  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  // transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/

  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  background-color: rgba(247, 235, 68, 0.5);
  // background-image: linear-gradient(to left bottom, red, orange);
  transition: all 0.8s ease 0s;
}
.modal__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.04em;
  padding-bottom: 10px;

  color: #d41443;
}
// .modal__title::before {
//   content: '';
//   position: absolute;
//   width: 100%;
//   height: 2px;
//   bottom: 0px;
//   transform: translateX(-100%);
//   background-color: currentColor;
//   transition: 0.2s linear transform;
// }
// .modal__title:hover:before {
//   transform: translateX(0%);
// }
/* Стили для активных классов подложки и окна */

.modal.active {
  opacity: 1;
  visibility: visible;
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  transform: translate(-50%, -50%);
}
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */

.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
  fill: #ffa5ba;
  cursor: pointer;
}

.modal__cross:hover,
.modal__cross:focus {
  transform: scale(1.2);
  fill: #d41443;
}
/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */

.js-link {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  background-color: #ffa5ba;
  margin: 10px;
  color: #fff;
  border-radius: 3px;
}
