

.slider {
    padding-top: 60px;
    padding-bottom: 65px;
}
.slider__list-foto {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}


.slider__list-foto {
    text-align: center;
    width: 90px;
}

.slider__fon {
    text-align: center;
    padding-top: 28px;
   width: 280px;
   height: 380px;
    background-color: #FAFAFA;
      @media screen and (min-width: 768px) {
      padding-top: 32px;
      width : 620px;
      height: 164px;
  }
    @media screen and (min-width: 1280px) {
    width: 926px;
    height: 153px;
}
}

.slider__text {
display: inline-block;
@include main-text ($fw: 500,$fs: 16px,$lx: 1.93,$color: $black-text-color,$ls: 0.04);
width: 157px;
@media screen and (min-width: 768px) {
    width: 460px;
}
@media screen and (min-width: 1280px) {
    width: 690px;
}
  &::before {
      content          : "";
      display: block;
      background-image : url(../images/slider/brackets@1x.jpg);
      width            : 54px;
      height           : 40px;
      background-repeat: no-repeat;
      background-size  : cover;
margin-left: -20px;
margin-bottom: -22px;
  }
   &::after {
     content          : "";
     display          : block;
     background-image : url(../images/point.svg);
     width            : 32px;
     height           : 4px;
     background-repeat: no-repeat;
     background-size  : cover;
     background-position: center;
     margin-left      : 340px;
     margin-top: 60px;
 }
  @media screen and (min-width: 768px) {
       &::after {
     margin-left        : 210px;
     margin-top         : 60px;
 }
  }
  @media screen and (min-width: 1280px) {
      &::after {
          margin-top: 50px;
          margin-left: 330px;
      }
  }


}
.slider__city {
    text-align: center;
@include main-text ($fw: 500,$fs: 20px,$lx: 1.85,$color: $black-text-color,$ls: 0.04);
    margin-top: 70px;
     @media screen and (min-width: 1280px) {
    margin-top: 34px;
     }
 }



.slick-dots li {
     visibility: hidden;
       &::after {
       content            : "";
       display            : block;
       background-image   : url(../images/points.svg);
       width              : 12px;
       height             : 12px;
       background-repeat  : no-repeat;
       background-size    : cover;
       background-position: center;
        visibility: visible;
   }

}

/* Активная точка */
.slick-dots li.slick-active {
  visibility: hidden;
     &::after {
     content             : "";
     display             : block;
     background-image    : url(../images/house.svg);
     width               : 12px;
     height              : 12px;
     background-repeat   : no-repeat;
     background-size     : cover;
     background-position : center;
   visibility: visible;
 }
}





