.slider {
    padding-top: 40px;
    padding-bottom: 43px;
    @media screen and (min-width: 768px) {
        padding-top: 61px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 61px;
        padding-bottom: 66px;
    }
}

// .reviews__list {
    
// }


.reviews__wrapper {
    margin: 0 auto 30px auto;
    width: 280px;
    height: 308px;
    position: relative;
    padding: 43px 50px 20px 50px;
    background-color: #FAFAFA;
}

.reviews__label {
    display: flex;
    position: relative;
    width: 180px;
    padding: 0 16px 3px 7px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 2.55;
    /* or 31px */
    text-align: center;
    color: #000000;
    background: repeating-linear-gradient(180deg,
    #E1E1E1 0,
    transparent 1px,
    transparent 30px,
    #E1E1E1 0,
    #E1E1E1 31px);
    background-position: center bottom 3px;
    z-index: 2;

    &::before {
        content: "";
        position: absolute;
        top: -15px;
        left: 4px;
        background-image: url(../images/slider/brackets@1x.png);
        width: 54px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: contain;
    
        z-index: -1;
    }
}

.reviews__img {
    margin: 0 auto 29px auto;
    width: 85px;
    height: 85px;

    @media screen and (min-width: 768px) {
        margin-bottom: 19px;
    }
    @media screen and (min-width: 1280px) {
        margin-bottom: 15px;
    }
}

.reviews__location {
    margin-bottom: 30px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    /* or 26px */
    text-align: center;
    color: #000000;
}
