
$mobile-menu-background: #e17992;
$semi-white-background-color: #e5e5e5;
$semi-pink-background-color: #fff5f6;
$white-text-color: #ffffff;
$pre-title-text-color: #ffa5ba;
$title-text-color: #d41443;
$primary-button-text-color: #ffffff;
$secondary-button-text-color: #d41443;
$digits-text-color: #d41443;
$black-text-color: #000000;
$gray-pink-text-color: #907e82;
$pink-text-color: #ffa5ba;
$products-header-accent-color: #c7133e;
$footer-actions-accent-color: #d41342;
$border-color: #e18298;
$timing-function: 250ms;
$bckg-color-accent:#FFB8CA;
$bckg-color-roze  : #FFF5F6;
$text-color-white  :#FFFFFF;
$text-color-black :#000000;
$accent-color     :#D41443;

// цвет фона header-hero
// цвет фона секций розовый
// цвет текста белый
// цвет текста черный
// цвет акцентированный

