<section id="contact" class="contacts__section">
  <div class="contacts__container container">
    <h2 class="contacts__heading visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item" data-aos="fade-up" data-aos-duration="500" data-aos-delay="250">
        <div class="contacts-top">
          <p class="contacts-top__name">cafe</p>
          <p class="contacts-top__placement">Chicago</p>
          <p class="contacts-top__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts-center">
          <p class="contacts-center__time">Monday - Friday</p>
          <p class="contacts-center__time--pink">
            <time> 06:00 AM - 10:00 PM </time>
          </p>
          <p class="contacts-center__time">Saturday - Sunday</p>
          <p class="contacts-center__time--pink">
            <time> 08:00 AM - 16:00 PM </time>
          </p>
        </div>
        <div class="contacts-bot">
          <address class="contacts-bot__address">
            <a class="contacts-bot__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
            <a
              class="contacts-bot__mail"
              href="mailto:noreply@envato.com"
              target="_blank"
              rel="noopener noreferrer"
              >noreply@envato.com</a
            >
          </address>
        </div>
      </li>
      <li class="contacts__item" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
        <div class="contacts-top">
          <p class="contacts-top__name--green">FOOD TRUCK</p>
          <p class="contacts-top__placement">Los Angeles</p>
          <p class="contacts-top__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts-center">
          <p class="contacts-center__time">Monday - Friday</p>
          <p class="contacts-center__time--pink">
            <time> 06:00 AM - 10:00 PM </time>
          </p>
          <p class="contacts-center__time">Saturday - Sunday</p>
          <p class="contacts-center__time--pink">
            <time> 08:00 AM - 16:00 PM </time>
          </p>
        </div>
        <div class="contacts-bot">
          <address class="contacts-bot__address">
            <a class="contacts-bot__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
            <a
              class="contacts-bot__mail"
              href="mailto:noreply@envato.com"
              target="_blank"
              rel="noopener noreferrer"
              >noreply@envato.com</a
            >
          </address>
        </div>
      </li>
      <li class="contacts__item" data-aos="fade-up" data-aos-duration="500" data-aos-delay="750">
        <div class="contacts-top">
          <p class="contacts-top__name">cafe</p>
          <p class="contacts-top__placement">New York</p>
          <p class="contacts-top__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts-center">
          <p class="contacts-center__time">Monday - Friday</p>
          <p class="contacts-center__time--pink">
            <time> 06:00 AM - 10:00 PM </time>
          </p>
          <p class="contacts-center__time">Saturday - Sunday</p>
          <p class="contacts-center__time--pink">
            <time> 08:00 AM - 16:00 PM </time>
          </p>
        </div>
        <div class="contacts-bot">
          <address class="contacts-bot__address">
            <a class="contacts-bot__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
            <a
              class="contacts-bot__mail"
              href="mailto:noreply@envato.com"
              target="_blank"
              rel="noopener noreferrer"
              >noreply@envato.com</a
            >
          </address>
        </div>
      </li>
    </ul>
  </div>
</section>
