<footer class="footer">
    <div class="container">
        <div class="footer__main">
            <div class="footer__text">
        <p class="footer__first-text">homemade ice cream made</p>
        <p class="footer__second-text">with passion</p>
    </div>
    <div class="media-footer">
        <ul class="media-footer__social-link">
            <li class="media-footer__zone">
                <a target="_b[ank"href="https://www.github.com/" class="media-footer__link">
                    <svg class="media-footer__icon">
                        <use href="images/symbol-defs.svg#icon-github1"></use>
                    </svg>
                </a>
            </li>
            <li class="media-footer__zone">
                <a target="_b[ank"href="https://www.telegram.org.com/" class="media-footer__link">
                    <svg class="media-footer__icon">
                        <use href="images/symbol-defs.svg#icon-telegram-1"></use>
                    </svg>
                </a>
            </li>
            <li class="media-footer__zone">
                <a target="_b[ank"href="https://www.facebook.com/" class="media-footer__link">
                    <svg class="media-footer__icon">
                        <use href="images/symbol-defs.svg#icon-facebook-1"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <div class="footer__contact">
            <span class="footer__contact-text">Feel free to contact</span>
            <a class="footer__contact-text__tel" href="tel:+610383766284">+61 (0) 383 766 284</a>
        </div>
        </div>
        </div>
        
        
            <p class="footer__text-rights">© 2019 - IceCream. All Rights Reserved.</p>
        

    </div>
</footer>