<footer class="footer">
    <div class="conainer">
        <p>homemade ice cream made</p>
        <p>with passion</p>
    </div>
    <div class="media-footer">
        <ul class="media-footer__social-link">
            <li>
                <a href="#" class="media-footer__link">
                    <svg class="media-footer__icon">
                        <use href="./images/icons/sprite.svg#github"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" class="media-footer__link">
                    <svg class="media-footer__icon">
                        <use href="./images/icons/sprite.svg#telegram"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" class="media-footer__link">
                    <svg class="media-footer__icon">
                        <use href="./images/icons/sprite.svg#facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <div>
            <span>Feel free to contact</span>
            <a href="tel:+610383766284">+61 (0) 383 766 284</a>
        </div>

        <div>© 2019 - IceCream. All Rights Reserved.</div>

    </div>
</footer>