<section class="gallery">
  <div class="container">
    <h2 class="gallery__title visually-hidden">Gallery</h2>
    <div class="gallery__list">
      <div class="gallery__grid-a">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              images/gallery-section/gallery01-desk.jpg    1x,
              images/gallery-section/gallery01-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              images/gallery-section/gallery01-tab.jpg    1x,
              images/gallery-section/gallery01-tab@2x.jpg 2x
            "
          />
          <source
            media="(min-width:320px)"
            srcset="
              images/gallery-section/gallery01-mob.jpg    1x,
              images/gallery-section/gallery01-mob@2x.jpg 2x
            "
          />
          <img
            src="images/gallery-section/gallery01-desk.jpg"
            alt="ice-cream-photo"
            class="gallery__photo"
            width=""
          />
        </picture>
      </div>
      <div class="gallery__grid-b">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              images/gallery-section/gallery02-desk.jpg    1x,
              images/gallery-section/gallery02-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              images/gallery-section/gallery02-tab.jpg    1x,
              images/gallery-section/gallery02-tab@2x.jpg 2x
            "
          />
          <source
            media="(min-width:320px)"
            srcset="
              images/gallery-section/gallery02-mob.jpg    1x,
              images/gallery-section/gallery02-mob@2x.jpg 2x
            "
          />
          <img
            src="images/gallery-section/gallery02-desk.jpg"
            alt="ice-cream-photo"
            class="gallery__photo"
          />
        </picture>
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              images/gallery-section/gallery03-desk.jpg    1x,
              images/gallery-section/gallery03-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              images/gallery-section/gallery03-tab.jpg    1x,
              images/gallery-section/gallery03-tab@2x.jpg 2x
            "
          />
          <source
            media="(min-width:320px)"
            srcset="
              images/gallery-section/gallery03-mob.jpg    1x,
              images/gallery-section/gallery03-mob@2x.jpg 2x
            "
          />
          <img
            src="images/gallery-section/gallery03-desk.jpg"
            alt="ice-cream-photo"
            class="gallery__photo"
          />
        </picture>
      </div>
      <div class="gallery__grid-c">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              images/gallery-section/gallery04-desk.jpg    1x,
              images/gallery-section/gallery04-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              images/gallery-section/gallery04-tab.jpg    1x,
              images/gallery-section/gallery04-tab@2x.jpg 2x
            "
          />
          <source
            media="(min-width:320px)"
            srcset="
              images/gallery-section/gallery04-mob.jpg    1x,
              images/gallery-section/gallery04-mob@2x.jpg 2x
            "
          />
          <img
            src="images/gallery-section/gallery04-desk.jpg"
            alt="ice-cream-photo"
            class="gallery__photo gallery__photo--big"
          />
        </picture>
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              images/gallery-section/gallery05-desk.jpg    1x,
              images/gallery-section/gallery05-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              images/gallery-section/gallery05-tab.jpg    1x,
              images/gallery-section/gallery05-tab@2x.jpg 2x
            "
          />
          <source
            media="(min-width:320px)"
            srcset="
              images/gallery-section/gallery05-mob.jpg    1x,
              images/gallery-section/gallery05-mob@2x.jpg 2x
            "
          />
          <img
            src="images/gallery-section/gallery05-desk.jpg "
            alt="ice-cream-photo"
            class="gallery__photo gallery__photo--small"
            width=""
          />
        </picture>
      </div>
      <div class="gallery__grid-d">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              images/gallery-section/gallery06-desk.jpg    1x,
              images/gallery-section/gallery06-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              images/gallery-section/gallery06-tab.jpg    1x,
              images/gallery-section/gallery06-tab@2x.jpg 2x
            "
          />
          <source
            media="(min-width:320px)"
            srcset="
              images/gallery-section/gallery06-mob.jpg    1x,
              images/gallery-section/gallery06-mob@2x.jpg 2x
            "
          />
          <img
            src="images/gallery-section/gallery06-desk.jpg"
            alt="ice-cream-photo"
            class="gallery__photo"
          />
        </picture>
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              images/gallery-section/gallery07-desk.jpg    1x,
              images/gallery-section/gallery07-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              images/gallery-section/gallery07-tab.jpg    1x,
              images/gallery-section/gallery07-tab@2x.jpg 2x
            "
          />
          <source
            media="(min-width:320px)"
            srcset="
              images/gallery-section/gallery07-mob.jpg    1x,
              images/gallery-section/gallery07-mob@2x.jpg 2x
            "
          />
          <img
            src="images/gallery-section/gallery07-desk.jpg"
            alt="ice-cream-photo"
            class="gallery__photo"
          />
        </picture>
      </div>
      <div class="gallery__grid-e">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              images/gallery-section/gallery08-desk.jpg    1x,
              images/gallery-section/gallery08-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              images/gallery-section/gallery08-tab.jpg    1x,
              images/gallery-section/gallery08-tab@2x.jpg 2x
            "
          />
          <source
            media="(min-width:320px)"
            srcset="
              images/gallery-section/gallery08-mob.jpg    1x,
              images/gallery-section/gallery08-mob@2x.jpg 2x
            "
          />
          <img
            src="images/gallery-section/gallery08-desk.jpg"
            alt="ice-cream-photo"
            class="gallery__photo"
          />
        </picture>
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              images/gallery-section/gallery09-desk.jpg    1x,
              images/gallery-section/gallery09-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              images/gallery-section/gallery09-tab.jpg    1x,
              images/gallery-section/gallery09-tab@2x.jpg 2x
            "
          />
          <source
            media="(min-width:320px)"
            srcset="
              images/gallery-section/gallery09-mob.jpg    1x,
              images/gallery-section/gallery09-mob@2x.jpg 2x
            "
          />
          <img
            src="images/gallery-section/gallery09-desk.jpg"
            alt="ice-cream-photo"
            class="gallery__photo"
          />
        </picture>
      </div>
      <div class="gallery__grid-f">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              images/gallery-section/gallery10-desk.jpg    1x,
              images/gallery-section/gallery10-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              images/gallery-section/gallery10-tab.jpg    1x,
              images/gallery-section/gallery10-tab@2x.jpg 2x
            "
          />
          <source
            media="(min-width:320px)"
            srcset="
              images/gallery-section/gallery10-mob.jpg    1x,
              images/gallery-section/gallery10-mob@2x.jpg 2x
            "
          />
          <img
            src="images/gallery-section/gallery10-desk.jpg"
            alt="ice-cream-photo"
            class="gallery__photo"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
<picture> </picture>
