<section class="gallery">
  <div class="container">
    <h2 class="gallery__title visually-hidden">Gallery</h2>
    <div class="gallery__list">
      <div class="gallery__grid-a">
        <img
          src="images/gallery-section/1.jpg"
          alt="ice-cream-photo"
          class="gallery__photo"
          width=""
        />
      </div>
      <div class="gallery__grid-b">
        <img
          src="images/gallery-section/2.jpg"
          alt="ice-cream-photo"
          class="gallery__photo"
          width=""
        />
        <img
          src="images/gallery-section/3.jpg"
          alt="ice-cream-photo"
          class="gallery__photo"
          width=""
        />
      </div>
      <div class="gallery__grid-c">
        <img
          src="images/gallery-section/4.jpg"
          alt="ice-cream-photo"
          class="gallery__photo gallery__photo--big"
          width=""
        />
        <img
          src="images/gallery-section/5.jpg "
          alt="ice-cream-photo"
          class="gallery__photo gallery__photo--small"
          width=""
        />
      </div>
      <div class="gallery__grid-d">
        <img
          src="images/gallery-section/6.jpg"
          alt="ice-cream-photo"
          class="gallery__photo"
          width=""
        />
        <img
          src="images/gallery-section/7.jpg"
          alt="ice-cream-photo"
          class="gallery__photo"
          width=""
        />
      </div>
      <div class="gallery__grid-e">
        <img
          src="images/gallery-section/8.jpg"
          alt="ice-cream-photo"
          class="gallery__photo"
          width=""
        />

        <img
          src="images/gallery-section/9.jpg"
          alt="ice-cream-photo"
          class="gallery__photo"
          width=""
        />
      </div>
      <div class="gallery__grid-f">
        <img
          src="images/gallery-section/10.jpg"
          alt="ice-cream-photo"
          class="gallery__photo"
          width=""
        />
      </div>
    </div>
  </div>
</section>
