
<header class="page-header">
    <div class="container header">
        <img src="./images" alt="logo" width="79" height="79">
        <nav class="page-header__nav " data-menu>
            <button type="button" class="menu-button-1 is-open" data-menu-close>
                <svg width="40" height="40" aria-label="Переключатель мобильного меню">
                    <use class="menu-button__icon--cross" href="./images/symbol-defs.svg#icon-arrow-left" width="20">
                    </use>
                </svg>
            </button>
            <ul class="page-header__list">
                <li class="page-header__item">
                    <a class="page-header__link" href="#home">Home
                        <!-- <svg class="page-header__icon" width="27" height="27">
                            <use href="./images/symbol-defs.svg#icon-point-right"></use>
                        </svg> -->
                    </a>
                </li>
                <li class="page-header__item"><a class="page-header__link" href="#about-us">About us
                        <!-- <svg class="page-header__icon" width="27" height="27">
                            <use href="./images/symbol-defs.svg#icon-point-right"></use>
                        </svg> -->
                    </a></li>
                <li class="page-header__item"><a class="page-header__link" href="#how-its-made">How it’s made?
                        <!-- <svg class="page-header__icon" width="27" height="27">
                            <use href="./images/symbol-defs.svg#icon-point-right"></use>
                        </svg> -->
                    </a></li>
                <li class="page-header__item"><a class="page-header__link" href="#our-products">Our products
                        <!-- <svg class="page-header__icon" width="27" height="27">
                            <use href="./images/symbol-defs.svg#icon-point-right"></use>
                        </svg> -->
                    </a></li>
                <li class="page-header__item"><a class="page-header__link" href="#contakt">Contact
                        <!-- <svg class="page-header__icon" width="27" height="27">
                            <use href="./images/symbol-defs.svg#icon-point-right"></use>
                        </svg> -->
                    </a></li>
            </ul>
        </nav>
        <button class="page-header__button" type="button" data-modal-open>Buy Now</button>
        <button type="button" class="menu-button" aria-expanded="false" data-menu-button>
            <svg width="40" height="40" aria-label="Переключатель мобильного меню">
                <use class="menu-button__icon--menu" href="./images/symbol-defs.svg#menu2"></use>
            </svg>
        </button>
    
    <section class="hero">

    </section>
    </div>
</header>