
<header class="header-hero" id="home">
    <div class="container">
        <section class="page-header">
           <img src="images/logo1.svg" alt="logo" width="199" height="50">
        <nav class="page-header__nav " data-menu>
             <button type="button" class="menu-button" aria-expanded="false" data-menu-close>
                    <svg width="14" height="14" >
                        <use class="menu-button__icon--menu" href="./images/symbol-defs.svg#icon-close"></use>
                    </svg>
            </button>
            <button class="page-header__button-mobile js-open-modal" data-modal="buy" type="button">Buy Now
                <svg class="page-header__button-icon" width="4" height="8" aria-label="Buy now">
                    <use class="menu-button__icon--menu" href="images/symbol-defs.svg#icon-right-2"></use>
                </svg>
            </button>
            <ul class="page-header__list">
                <li class="page-header__item">
                    <a class="page-header__link" href="#home">Home</a>
                </li>
                <li class="page-header__item"><a class="page-header__link" href="#about-us">About us
                    </a></li>
                <li class="page-header__item"><a class="page-header__link" href="#how-its-made">How it’s made?
                    </a></li>
                <li class="page-header__item"><a class="page-header__link" href="#our-products">Our products
                    </a></li>
                <li class="page-header__item"><a class="page-header__link" href="#contakt">Contact
                    </a></li>
                    </ul>
        </nav>
        <button type="button" class="menu-button-burger" data-menu-button>
                <svg width="20" height="12" aria-label="Переключатель мобильного меню">
                    <use class="menu-button__icon--cross" href="images/symbol-defs.svg#icon-Burger" >
                    </use>
                </svg>
        </button>
          <button class="page-header__button js-open-modal" data-modal="buy" type="button">Buy Now
            <svg class="page-header__button-icon" width="4" height="8" aria-label="Buy now">
                <use class="menu-button__icon--menu" href="images/symbol-defs.svg#icon-right-2"></use>
            </svg>
        </button>

    </section>
    <section class="hero" >
        <div class="hero__sektion">
        <div class="hero__content">
         <h1 class="hero__name">ice cream made with <span class="hero__name-accent">passion</span></h1>

            <ul class="hero__list">
                <li class="hero__item"><a class="hero__link-products" href="#our-products">Products</a></li>
                <li class="hero__item"><a class="hero__link-how" href="#how-its-made">How it’s made?</a></li>
            </ul></div>
            <div class="hero__card-box">
                <ul class="hero__card-list">
                    <li class="hero__card-first"><p class="hero__card-text">cafes</p></li>
                    <li class="hero__card-second"><p class="hero__card-text1">food trucks</p></li>
                </ul>
            </div></div>
            <div class="hero__text-box">
            <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
       
          <button class="hero__button  js-open-modal" data-modal="eco" type="button">
            <svg class="hero__buttonn-icon" width="10" height="10" >
                <use  href="images/symbol-defs.svg#icon-arrow-right2"></use>
            </svg>
        </button></div>
    </section>
    <picture class="hero__kolo">
        <source srcset="
            images/hero/kolowebp.webp 370w,
            images/hero/kolo2xwebp.webp 1076w" type="image/webp" 
            sizes="(min-width: 768px) 50vw, (min-width: 1280px) 25vw, 100vw">
        <img class="hero__kolo" srcset="
            images/hero/ellipse.png 1x,
            images/hero/ellipse2x.png 2x" src="./images/hero/ellipse.png" alt="Круг" width="538">
    </picture>
    <picture class="hero__kolo-mob">
        <source srcset="
                ./images/hero/kolomobwebp.webp 260w, 
                ./images/hero/kolomob2xwebp.webp 560w " type="image/webp"
            sizes="(min-width: 768px) 50vw, (min-width: 1280px) 25vw, 100vw">
        <img srcset="
                images/hero/kolomob.png 1x  ,
                images/hero/kolomob2.png 2x " src="./images/hero/kolomob.png" alt="Круг">

    </picture>
     <picture class="hero__milk">
        <source srcset="
            images/hero/milkwebp.webp 188w,
            images/hero/milk2xwebp.webp 376w" type="image/webp" 
            sizes="(min-width: 768px) 50vw, (min-width: 1280px) 25vw, 100vw">
        <img  srcset="
            images/hero/milk.png 1x,
            images/hero/milk2x.png 2x" src="./images/hero/milk.png" alt="Молоко" width="188">
    </picture>
<picture class="hero__girl">
    <source srcset="
            images/hero/girlwebp.webp 293w,
            images/hero/girl2xwebp.webp 586w" type="image/webp" 
            sizes="(min-width: 768px) 50vw, (min-width: 1280px) 25vw, 100vw">
    <img  srcset="
            images/hero/girl.png 1x,
            images/hero/girl2x.png 2x" src="./images/hero/girl.png" alt="Молоко" width="293">
</picture>
    <picture class="hero__ice">
        <source srcset="
                images/hero/icewebp.webp 236w,
                images/hero/ice2xwebp.webp 586w" type="image/webp" 
                sizes="(min-width: 768px) 50vw, (min-width: 1280px) 25vw, 100vw">
        <img  srcset="
                images/hero/ice.png 1x,
                images/hero/ice2x.png 2x" src="./images/hero/ice.png" alt="Молоко" width="236">
    </picture>
    </div>
</header>
