<section class="how-its-made" id="how-its-made">
    <div class="container">
        <p class="how-its-made__lable">TRADITION AND LOVE</p>
        <h2 class="how-its-made__title">HOW IT'S MADE?</h2>
        <div class="how-its-made__container">
            <div class="how-its-made__image">
                <picture>

                    <source srcset="images/cow-mob.png 1x, 
                    images/cow-mob@2x.png 2x"  media="(max-width: 767px)">
                    <source srcset="images/cow-tab.png 1x, 
                    images/cow-tab@2x.png 2x"  media="(max-width: 1279px)">
                    <source srcset="images/cow-desk.png 1x, 
                    images/cow-desk@2x.png 2x"  media="(min-width: 1280px)">

                <img src="images/cow-desk.png" alt="cow">
                </picture>
            </div>
            <div class="how-its-made__box">
                <p class="how-its-made__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
                
                <p class="how-its-made__description">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>

                   <div class="how-its-made__description-sp">  Aliquam erat volutpat. Aenean accumsan.</div>

                <button class="how-its-made__button js-open-modal" data-modal="watch" type="button">Read more
                    <svg class="how-its-made__button-icon" width="5" height="8" aria-label="Read more">
                        <use href="images/symbol-defs.svg#icon-right-2"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>   

<section class="advantages">
    <div class="container">
        <h2 class="advantages__title visually-hidden">Advantages</h2>
        <ul class="feature">
            <li class="feature__list">
                <p class="feature__figure">721</p>
                <p class="feature__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="feature__list feature__list--icon2">
                <p class="feature__figure">16KG</p>
                <p class="feature__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="feature__list feature__list--icon3">
                <p class="feature__figure">84</p>
                <p class="feature__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
    
</section>

