<section class="modal-section">
  <!-- Элементы для вызова модальных окон -->
<!-- 1. Элементы копируем -->
<!-- 2. Класс js-link изменяете на свой для стилизации -->

<!-- <a href="#" class="js-link js-open-modal" data-modal="buy">buy</a>
<a href="#" class="js-link js-open-modal" data-modal="eco">eco</a>
<a href="#" class="js-link js-open-modal" data-modal="locations">locations</a>
<a href="#" class="js-link js-open-modal" data-modal="franchise">franchise</a>
<a href="#" class="js-link js-open-modal" data-modal="watch">watch</a>
<a href="#" class="js-link js-open-modal" data-modal="cream">cream</a>
<a href="#" class="js-link js-open-modal" data-modal="coffee">coffee</a>
<a href="#" class="js-link js-open-modal" data-modal="milk">milk</a> -->




<!-- Несколько модальных окон -->

<div class="modal modal--buy" data-modal="buy">
   <!--   Svg иконка для закрытия окна  -->
   <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"               viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
   <p class="modal__title">Choose your favorite ice cream</p>
   <ul class="modal-buy">
    <li class="modal-buy__item">
         <div class="modal-buy__thumb">
          <img class="modal-buy__img" src="images/imgproduct/mobile/productmobile1.png" alt="ice cream"/>
         </div>
     </li>
    <li class="modal-buy__item">
       <div class="modal-buy__thumb">
        <img class="modal-buy__img" src="images/imgproduct/mobile/productmobile2.png" alt="ice cream"/>
       </div>
    </li>
    <li class="modal-buy__item">
       <div class="modal-buy__thumb">
        <img class="modal-buy__img" src="images/imgproduct/mobile/productmobile3.png" alt="ice cream"/>
       </div>
    </li>
  </ul>
  <form name="buy__form" class="buy__form">
    <div class="form-group" role="group" aria-labelledby="buy-head">
      <!-- <p id="buy-head">Choose your favorite ice cream</p> -->
      <label style="color: coral;">
        <input type="checkbox" name="buy" value="cream">
        ice cream
      </label>
      <label style="color: coral;">
        <input type="checkbox" name="buy" value="coffe">
        ice coffe
      </label>
      <label style="color: coral;">
        <input type="checkbox" name="buy" value="milk">
        milkshakes
      </label>
    </div>
    <label class="buy__field">
      <span class="buy__label">First name</span>
      <input type="text" class="buy__input" name="name" autofocus/>
    </label>
    <label class="buy__field">
      <span class="buy__label">Phone</span>
      <input type="tel" class="buy__input" name="tel"/>
    </label>
    <button type="submit" class="buy__btn">send order</button>
</form>
</div>

<div class="modal modal--eco" data-modal="eco">
   <!--   Svg иконка для закрытия окна  -->
   <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"               viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
   <p class="modal__title">Only fresh Alpine milk</p>
   <div class="modal__scene">
    <div class="modal__sun"></div>
    <div class="modal__hills"></div>
    <div class="modal__plane"></div>
    <div class="modal__clouds"></div>
</div>
</div>
<div class="modal modal--locations" data-modal="locations">
   <!--   Svg иконка для закрытия окна  -->
   <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"               viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
   <p class="modal__title">Main Office, Los Angeles, Long Beach</p>
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423283.43554989767!2d-118.69191546801642!3d34.02073049790668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1643372912557!5m2!1sru!2sua" width=100% height=95% style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="modal modal--franchise" data-modal="franchise">
  <!--   Svg иконка для закрытия окна  -->
  <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"               viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
  <p class="modal__title">OUR PARTNER</p>
  <ul class="modal-franchise">
    <li class="modal-franchise__item">
         <div class="modal-franchise__thumb">
          <img class="modal-franchise__img" src="images/modal1nasa.png" alt="nasa"/>
         </div>
     </li>
    <li class="modal-franchise__item">
       <div class="modal-franchise__thumb">
        <img class="modal-franchise__img" src="images/modal2kozel.png" alt="kozel"/>
       </div>
    </li>
    <li class="modal-franchise__item">
       <div class="modal-franchise__thumb">
        <img class="modal-franchise__img" src="images/modal3md.png" alt="jd"/>
       </div>
    </li>
    <li class="modal-franchise__item">
       <div class="modal-franchise__thumb">
        <img class="modal-franchise__img" src="images/modal4amazon.png" alt="amazone"/>
       </div>
    </li>
  </ul>
  <form name="franchise__form" class="franchise__form">
    <label class="franchise__field">
      <span class="franchise__label">First name</span>
      <input type="text" class="franchise__input" name="name" autofocus/>
    </label>
    <label class="franchise__field">
      <span class="franchise__label">Phone</span>
      <input type="tel" class="franchise__input" name="tel"/>
    </label>
    <button type="submit" class="franchise__btn">join our company </button>
</form>
</div>
<div class="modal modal--watch" data-modal="watch">
  <!--   Svg иконка для закрытия окна  -->
  <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"               viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
  <p class="modal__title">Better to watch</p>
     <ul class="modal-watch">
      <li class="modal-watch__item">
           <div class="modal-watch__thumb">
            <img class="modal-watch__img" src="images/modal1.gif" alt="icecream"/>
           </div>
       </li>
      <li class="modal-watch__item">
         <div class="modal-watch__thumb">
          <img class="modal-watch__img" src="images/modal2.gif" alt="icecream"/>
         </div>
      </li>
      <li class="modal-watch__item">
         <div class="modal-watch__thumb">
          <img class="modal-watch__img" src="images/modal3.gif" alt="icecream"/>
         </div>
      </li>
      <li class="modal-watch__item">
         <div class="modal-watch__thumb">
          <img class="modal-watch__img" src="images/modal4.gif" alt="icecream"/>
         </div>
      </li>
    </ul>
</div>
<div class="modal modal--cream" data-modal="cream">
  <!--   Svg иконка для закрытия окна  -->
  <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"               viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
  <p class="modal__title">ice cream certificate</p>
  <!-- <div class="modal__cream"> -->
    <img src="images/cream.jpg" alt="icecream"/>

</div>
<div class="modal modal--coffee" data-modal="coffee">
  <!--   Svg иконка для закрытия окна  -->
  <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"               viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
  <p class="modal__title">ice coffee certificate</p>
  <div class="modal__coffee">
    <img src="images/coffee.jpg" alt="icecoffee"/>
  </div>
</div>
<div class="modal modal--milk" data-modal="milk">
  <!--   Svg иконка для закрытия окна  -->
  <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"               viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
  <p class="modal__title">milkshakes certificate</p>
  <div class="modal__milk">
    <img src="images/milk.jpg" alt="icemilk"/>
  </div>
</div>

<!-- Подложка под модальным окном -->
<div class="overlay js-overlay-modal"></div>

</section>
