<!-- <div class="autor__list-main">
    <div class="autor__item"><img src="images/autor/2png.png" alt="director"></div>
    <div class="autor__item"><img src="images/autor/1png.png" alt="lider"></div>
    <div class="autor__item"><img src="images/autor/2png.png" alt="director"></div>
    <div class="autor__item1"><img src="images/autor/g2.png" alt="director" width="50"></div>
    <div class="autor__item1"><img src="images/autor/3png.png" alt="director" width="80"></div>
    <div class="autor__item"><img src="images/autor/1png.png" alt="meneger"></div>
</div>
<div class="autor__slider">
    <div class="autor__list">
        <div class="autor__item"><img src="images/autor/2png.png" alt="director"></div>
        <div class="autor__item"><img src="images/autor/1png.png" alt="lider"></div>
        <div class="autor__item"><img src="images/autor/2png.png" alt="director"></div>
        <div class="autor__item1"><img src="images/autor/g2.png" alt="director" width="50"></div>
        <div class="autor__item1"><img src="images/autor/3png.png" alt="director" width="80"></div>
        <div class="autor__item"><img src="images/autor/1png.png" alt="meneger"></div>
    </div>
</div> -->

