<!-- <div class="autor__list-main">
    <div class="autor__item"><img src="images/autor/2png.png" alt="director"></div>
    <div class="autor__item"><img src="images/autor/1png.png" alt="lider"></div>
    <div class="autor__item"><img src="images/autor/2png.png" alt="director"></div>
    <div class="autor__item1"><img src="images/autor/g2.png" alt="director" width="50"></div>
    <div class="autor__item1"><img src="images/autor/3png.png" alt="director" width="80"></div>
    <div class="autor__item"><img src="images/autor/1png.png" alt="meneger"></div>
</div>
<div class="autor__slider">
    <div class="autor__list">
        <div class="autor__item"><img src="images/autor/2png.png" alt="director"></div>
        <div class="autor__item"><img src="images/autor/1png.png" alt="lider"></div>
        <div class="autor__item"><img src="images/autor/2png.png" alt="director"></div>
        <div class="autor__item1"><img src="images/autor/g2.png" alt="director" width="50"></div>
        <div class="autor__item1"><img src="images/autor/3png.png" alt="director" width="80"></div>
        <div class="autor__item"><img src="images/autor/1png.png" alt="meneger"></div>
    </div>
</div> -->

<section class="slider">
    <div class="container">
<h2 class="slider__title visually-hidden">Reviews</h2>
<div class="slider1">
    <ul class="slider__list-foto">
<li class="slider__item">
    <picture class="slider__1">
        <source media="(min-width: 320px)" srcset="images/slider/Emily@1x.jpg 1x, images/slider/Emily@2x.jpg 2x">
        <img class="slider__img" src="images/slider/Emily@1x.jpg" alt="photo" />
    </picture>
</li>
<li class="slider__item">
    <picture class="slider__1" >
        <source media="(min-width: 320px)" srcset="images/slider/Ann@1x.jpg 1x, images/slider/Ann@2x.jpg 2x">
        <img class="slider__img" src="images/slider/Ann@1x.jpg" alt="photo" />
    </picture>
</li>
<li class="slider__item">
    <picture class="slider__1">
        <source media="(min-width: 320px)" srcset="images/slider/Betty@1x.jpg 1x, images/slider/Betty@2x.jpg 2x">
        <img class="slider__img" src="images/slider/Betty@1x.jpg" alt="photo" />
    </picture>
</li>
    </ul></div>



    <ul class="slider__list-text">
<li class="slider__item2">
    <div class="slider__fon">
    <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
    </div>
    <p class="slider__city">Emily, Los Angeles</p>
</li>
<li class="slider__item2">
    <div class="slider__fon">
    <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
    </div>
    <p class="slider__city">Ann, Chicago</p>
</li>
<li class="slider__item2">
    <div class="slider__fon">
    <p class="slider__text">Go IT/ Поможем каждому создать свою историю успеха.</p>
   </div>
    <p class="slider__city">Betty, New York</p>
</li>
</ul>
    </div>
   
</section>