<section class="products" id="our-products">
    <div class="container">
        <p class="products__line">100% natural</p>
        <h2 class="products__header">products</h2>
        <ul class="products-set">
            <li class="products-set__box products__icecream">
                <div class="products__content">
                    <h3 class="products__item products__item--before1">ice cream</h3>
                    <p class="products__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <button class="products__button" type="button">
                        <svg class="products__buttonn-icon" width="15" height="15">
                            <use href="images/symbol-defs.svg#icon-arrow-right2"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products-set__box products__icecoffee">
                <div class="products__content">
                    <h3 class="products__item products__item--before2">ice coffee</h3>
                    <p class="products__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <button class="products__button" type="button">
                        <svg class="products__buttonn-icon" width="15" height="15">
                            <use href="images/symbol-defs.svg#icon-arrow-right2"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products-set__box products__milkshakes">
                <div class="products__content">
                    <h3 class="products__item products__item--before3">milkshakes</h3>
                    <p class="products__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <button class="products__button" type="button">
                        <svg class="products__buttonn-icon" width="15" height="15">
                            <use href="images/symbol-defs.svg#icon-arrow-right2"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>


    </div>


</section>