<section class="products" id="our-products">
    <div class="container">
        <p class="products__line">100% natural</p>
        <h2 class="products__header">products</h2>
        <ul class="products-set">
            <li class="products-set__box products__icecream">
                    <picture>
                        <!-- <source media="(min-width: 1200px)" srcset="images/imgproduct/desctop/productdesctop1.png 1x, images/imgproduct/desctop/productdesctop12x.png 2x ">
                        <source media="(min-width: 768px)" srcset="images/imgproduct/tablet/producttablet1.png 1x, images/imgproduct/tablet/producttablet12x.png 2x ">
                        <source media="(min-width: 320px)" srcset="images/imgproduct/mobile/productmobile1.png 1x, images/imgproduct/mobile/productmobile12x.png 2x ">-->
                    <img src="images/imgproduct/desctop/productdesctop1.png" alt="клубничное мороженое в вафельном стаканчике" width=""> 
                    </picture>
                <div>
                    <h3 class="products__item">ice cream</h3>
                    <p class="products__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                </div>
            </li>
            <li class="products-set__box products__icecoffee">
                <picture>
                    <!-- <source media="(min-width: 1200px)" srcset="images/imgproduct/desctop/productdesctop2.png 1x, images/imgproduct/desctop/productdesctop22x.png 2x ">
                    <source media="(min-width: 768px)" srcset="images/imgproduct/tablet/producttablet2.png 1x, images/imgproduct/tablet/producttablet22x.png 2x ">
                    <source media="(min-width: 320px)" srcset="images/imgproduct/mobile/productmobile2.png 1x, images/imgproduct/mobile/productmobile22x.png 2x "> -->
                <img src="images/imgproduct/desctop/productdesctop2.png" alt="прозрачный стакан с холодным кофе и трубочкой" width=""> 
                </picture>
                <div>
                    <h3 class="products__item">ice coffee</h3>
                    <p class="products__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                </div>
            </li>
            <li class="products-set__box products__milkshakes">
                <picture>
                    <!-- <source media="(min-width: 1200px)" srcset="images/imgproduct/desctop/productdesctop3.png 1x, images/imgproduct/desctop/productdesctop32x.png 2x ">
                    <source media="(min-width: 768px)" srcset="images/imgproduct/tablet/producttablet3.png 1x, images/imgproduct/tablet/producttablet32x.png 2x ">
                    <source media="(min-width: 320px)" srcset="images/imgproduct/mobile/productmobile3.png 1x, images/imgproduct/mobile/productmobile32x.png 2x "> -->
                <img src="images/imgproduct/desctop/productdesctop3.png" alt="молочный коктейль с трубочкой, сливками и зефиром" width=""> 
                </picture>
                <div>
                    <h3 class="products__item">milkshakes</h3>
                    <p class="products__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                </div>
            </li>
        </ul>


    </div>


</section>