<section class="section">
    <div class="container">
        <h2 class="section__title visually-hidden">
        Reviews
        </h2>
        <div class="slick">
        <div class="slider-for">
            <div>your content</div>
            <div>your content</div>
            <div>your content</div>
        </div>
        </div>
        <ul class="reviews__list list">
            <li class="reviews__item">
                <picture>
                    <source media="(min-width: 320px)" srcset="../slick_img/Emily@1x.jpg 1x, ../slick_img/Emily@2x.jpg 2x">
                    <img src="../slick_img/Emily@1x.jpg" alt="photo"/>
                </picture>
                <div class="reviews__wrapper">
                    <p class="reviews__label">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <p class="reviews__location">Emily, Los Angeles</p>
            </li>
            <li class="reviews__item">
                <picture>
                    <source media="(min-width: 320px)" srcset="../slick_img/A@1x.jpg 1x, ../slick_img/A@2x.jpg 2x">
                    <img src="../slick_img/A@1x.jpg" alt="photo"/>
                </picture>
                <div class="reviews__wrapper">
                    <p class="reviews__label">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <p class="reviews__location">Anna, Chicago</p>
            </li>
            <li class="reviews__item">
                <picture>
                    <source media="(min-width: 320px)" srcset="../slick_img/B@1x.jpg 1x, ../slick_img/B@2x.jpg 2x">
                    <img src="../slick_img/B@1x.jpg" alt="photo"/>
                </picture>
                <div class="reviews__wrapper">
                    <p class="reviews__label">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <p class="reviews__location">Betty, New York</p>
            </li>
        </ul>
    </div>
</section>